// Definir todas las variables globales (colores,fuentes, etc.)

$color-primary: #222;
$color-secondary: #f4f4f4;
$color-accent: #f90;
$color-text: #333;
$color-light: #fff;
$color-highlight: #ffe;

$font-main: "Roboto", sans-serif;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;